In [84]:
import pandas as pd
citibike_tripdata_original = pd.read_csv('C:\DS\IDE\Skillfactory\Data\citibike-tripdata.csv', sep=',')
citibike_tripdata = citibike_tripdata_original.copy()
citibike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

* starttime — время начала поездки (дата, время);
* stoptime — время окончания поездки (дата, время);
* start station id — идентификатор стартовой стоянки;
* start station name — название стартовой стоянки;
* start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
* end station id — идентификатор конечной стоянки;
* end station name — название конечной стоянки;
* end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
* bikeid — идентификатор велосипеда;
* usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
* birth year — год рождения клиента;
* gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

# Задание 6.1 
### Сколько пропусков в столбце start station id?

In [85]:
display(citibike_tripdata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

# Задание 6.2
### Какой тип данных имеют столбцы starttime и stoptime?

In [86]:
display(citibike_tripdata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

# Задание 6.3
### Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [87]:
display(citibike_tripdata['start station id'].value_counts().index[0])

281.0

# Задание 6.4
### Велосипед с каким идентификатором является самым популярным?

In [88]:
display(citibike_tripdata['bikeid'].value_counts().index[0])

33887

# Задание 6.5
### Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до двух знаков после точки-разделителя.

In [89]:
display(citibike_tripdata['usertype'].value_counts(normalize=True))

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

# Задание 6.6
### Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [90]:
display(citibike_tripdata['gender'].value_counts())

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

# Задание 6.7
### Выберите утверждения,которые соответствуют нашим данным:

+***A*** - ***Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу.***

***B*** - В рассматриваемые дни минимальный возраст клиента составлял 10 лет.

+***C*** - ***Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave".***

***D*** - Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail".

In [91]:
# A
print(citibike_tripdata['start station id'].nunique())
print(citibike_tripdata['end station id'].nunique())

759
765

In [92]:
# B
citibike_tripdata['Start year'] = pd.to_datetime(citibike_tripdata['starttime'])
years_start = citibike_tripdata['Start year'].dt.year
a = years_start.mode().value_counts().index[0]
b = citibike_tripdata['birth year'].max()
print(a -b)

16

In [93]:
# C
print(citibike_tripdata['start station name'].value_counts().min())

6

In [94]:
# D
print(citibike_tripdata['end station name'].value_counts())

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

# Задание 6.8
### В первую очередь удалим лишнюю информацию из данных.
### В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [95]:
citibike_tripdata = citibike_tripdata.drop('end station id', axis=1)
citibike_tripdata = citibike_tripdata.drop('start station id', axis=1)
citibike_tripdata = citibike_tripdata.drop('Start year', axis=1)

In [96]:
len(citibike_tripdata.columns)

12

# Задание 6.9
### Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [101]:
citibike_tripdata['age'] = 2018 - citibike_tripdata['birth year']
citibike_tripdata = citibike_tripdata.drop('birth year', axis=1)

In [117]:
a = citibike_tripdata['age'] > 60
a.value_counts()

age
False    288163
True      11837
Name: count, dtype: int64

# Задание 6.10
### Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [121]:
citibike_tripdata['starttime'] = pd.to_datetime(citibike_tripdata['starttime'])
citibike_tripdata['stoptime'] = pd.to_datetime(citibike_tripdata['stoptime'])
citibike_tripdata['trip duration'] = (citibike_tripdata['stoptime'] - citibike_tripdata['starttime'])
print(citibike_tripdata.loc[3, 'trip duration'])

0 days 00:07:16.837000

# Задание 6.11
### Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [122]:
weekday = citibike_tripdata['starttime'].dt.dayofweek
citibike_tripdata['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
citibike_tripdata['weekend'].sum()

115135

# Задание 6.12
### Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
* поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
* поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
* поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
* поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целого числа.

In [123]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citibike_tripdata['time_of_day'] = citibike_tripdata['starttime'].dt.hour.apply(get_time_of_day)
a = citibike_tripdata[citibike_tripdata['time_of_day'] == 'day'].shape[0]
b = citibike_tripdata[citibike_tripdata['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9